*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.square{
    width:100%;
    max-width: 950px;
    margin-top: 40px;
    display: flex;
    background: #EDF7F8;
    border-radius: 40px;
    margin: auto;   
}

.bookImg{ 
    border-radius: 40px 0px 0px 40px; 
}

.coverBook{

    display: flex;  
    justify-content: flex-start;
    margin: auto; 
    border-radius: 40px 0px 0px 40px; 
}
.titleB{
    width: 50%;
    background: #96CDD2;
    color: #FF4352;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 40px 40px 0px; 
}

.description{
    color: black;
    background: #EDF7F8;
}